* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: #1a1a1a;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    font-size: 26px;
    font-weight: 600;
    color: #00c2d1;
}

.logo span {
    color: #003d66;
}

nav a {
    margin-left: 20px;
    color: #003d66;
    text-decoration: none;
    font-weight: 500;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(to bottom, rgba(0, 150, 180, 0.4), rgba(0, 60, 90, 0.7)),
    url('images/hero.jpg') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.hero h1 {
    color: white;
    font-size: 46px;
    margin-bottom: 20px;
}

.hero p {
    color: #e6faff;
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    padding: 12px 25px;
    background: #00c2d1;
    color: white;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
}

.hero-btn {
    background: white;
    color: #003d66;
}

/* DESTINATIONS */
section {
    padding: 80px 50px;
}

.destinations h2,
.offers h2,
.contact h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: #003d66;
}

.dest-grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.dest-box {
    width: 300px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.dest-box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.dest-box h3 {
    margin: 15px 0;
    color: #003d66;
}

/* OFFERS */
.offer-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.offer-box {
    width: 260px;
    background: #e9fafd;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.price {
    display: block;
    margin-top: 10px;
    color: #00c2d1;
    font-size: 22px;
    font-weight: 700;
}

/* CONTACT */
.contact form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    border: none;
    cursor: pointer;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #003d66;
    color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    header {
        padding: 15px 20px;
    }

    .hero h1 {
        font-size: 32px;
    }

    section {
        padding: 60px 20px;
    }
}